---
title: Home
tags: blog scotland chemistry phd
layout: default
---
<section>
    <p>
        In dit blog houd ik jullie zo goed mogelijk op de hoogte van mijn belevenissen in St Andrews, Schotland. Daar ben ik in november 2013 begonnen aan een vierjarige PhD in de scheikunde, met als uiteindelijk doel het halen van de doctor titel. Om het voor iedereen leuk te houden zal ik niet uitweiden over ontwikkelingen op academisch gebied. Nostalgicie zijn misschien verknocht aan de <a href="http://csbnw.no-ip.org:38/">oude versie</a> van dit blog.
    </p>
</section>
{% for post in paginator.posts %}
    {% include post-detail.html %}
{% endfor %}
{% if paginator.total_pages > 1 %}
<section>
    <ul class="pager">
        {% if paginator.previous_page %}
        <a href="/{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.previous_page }}</a>
        {% endif %}
        {% if paginator.previous_page and paginator.next_page %}
        &nbsp;|&nbsp;
        {% endif %}
        {% if paginator.next_page %}
        <a href="/{{ site.baseurl }}{{ paginator.next_page_path }}">{{ site.next_page }}</a>
        {% endif %}
        &nbsp;|&nbsp;
        <a href="/{{ site.baseurl }}/blog/" class="read-more">{{ site.all_posts | replace:'#',site.posts.size }}</a>
    </ul>
</section>
{% endif %}