---
title: Home
layout: default
tags: blog scotland chemistry phd
---

<section>
    <p>
        Technology intrigues me. Pretty much any sort, but I enjoy web-oriented tech the most. I like innovating, technical
        challenges, and learning new concepts. This is a place to remember some of those experiences. Maybe you'll find
        something interesting.
    </p>
</section>

{% for post in paginator.posts %}
    {% include post_detail.html %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <a href="/{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.previous_page }}</a>
    {% endif %}
    {% if paginator.previous_page and paginator.next_page %}
    &nbsp;|&nbsp;
    {% endif %}
    {% if paginator.next_page %}
    <a href="/{{ site.baseurl }}{{ paginator.next_page_path }}">{{ site.next_page }}</a>
    {% endif %}
</ul>
{% endif %}

{% if paginator.next_page %}
    <section>
        <header>
            <h1><a href="/{{ site.baseurl }}/blog/">{{ site.all_posts }}</a></h1>
            <div class="meta">{{ site.all_posts_description | replace:'#',site.posts.size }}</div>
        </header>
    </section>
{% endif %}
