<div style="line-height:0; padding:4px 0 0 1px;">
{% for p in site.pages %}
    {% if p.layout == 'gallery-photo' and p.gallery == include.gallery %}
    <a href="/{{ site.baseurl }}/{{ p.url }}" style="display: inline-block; margin: 3px; text-decoration: none;"><img alt="Photo: {{ p.title }}" height="48" src="{{ site.asset_prefix }}/gallery/{{ include.gallery }}/{{ p.name | remove:'.md' }}~96x96.jpg" title="{{ p.title }}" width="48" style="padding: 1px;" /></a>
    {% endif %}
{% endfor %}
</div>