---
layout: post
---
<section class="post-content">
<a href="/{{ site.baseurl }}/gallery/{{ page.gallery }}/">[ list ]</a>
</section>
<div id="googlemap" style="height:400px;margin-top:8px;"></div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ site.maps }}&amp;sensor=false"></script>
<script type="text/javascript">
    google.maps.event.addDomListener(
        window,
        'load',
        function () {
            var map = new google.maps.Map(
                document.getElementById("googlemap"),
                {
                    center : new google.maps.LatLng({{ page.map.latitude }}, {{ page.map.longitude }}),
                    mapTypeId : google.maps.MapTypeId.TERRAIN,
                    zoom : {{ page.map.zoom }}
                }
            );
            {% for p in site.pages %}
                {% if p.layout == 'gallery-photo' and p.gallery == page.gallery %}
                    {% if p.location %}
                (function () {
                    var wo = false;
                    var m = new google.maps.Marker({
                        position: new google.maps.LatLng({{ p.location.latitude }}, {{ p.location.longitude }}),
                        map : map,
                        title : "{{ p.title }}"
                    });
                    var w = new google.maps.InfoWindow({
                        content: '<div style="margin-bottom:5px;">{{ p.title|replace:"'","\\'" }}</div><a href="/{{ site.baseurl }}/{{ p.url }}"><img alt="Photo: {{ p.title | replace:"'","\\'" }}" height="200" src="{{ site.asset_prefix }}/gallery/{{ page.gallery }}/{{ p.name | remove:'.md' }}~200x200.jpg" title="{{ p.title|replace:"'","\\'" }}" width="200" /></a>'
                    });
                    google.maps.event.addListener(
                        m,
                        'click',
                        function() {
                            if (wo) {
                                w.close();
                            } else {
                                w.open(map, m);
                            }
                            wo = !wo;
                        }
                    );
                })();
                    {% endif %}
                {% endif %}
            {% endfor %}
        }
    );
</script>