---
layout: default
---
<section itemscope itemtype="http://schema.org/ImageGallery">
    <header>
        <div class="timeline">
            {% if page.date %}
                <time datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date_to_xmlschema }}"><strong>{{ page.date|date:"%b %d"|upcase }}</strong><br />{{ page.date|date:"%Y" }}</time>
            {% endif %}
        </div>        
        <h1>
            <a href="/{{ site.baseurl }}{{ page.url }}"><span itemprop="name">{{ page.title }}</span></a>
            <small class="print-only" itemprop="datePublished" content="{{ page.date|date:'%F' }}">{{ page.date|date:'%A, %B %d, %Y' }}</small>
        </h1>
        {% if page.end_date %}
            <span class="date-range">&#x1f557; {{ page.date | date:"%d/%m/%Y" }} - {{ page.end_date | date:"%d/%m/%Y" }}</span>
        {% endif %}
        
    </header>
    <section class="post-content">
    {% if false != page.slideshow %}
    <a href="slideshow.html">[ slideshow ]</a>
    {% endif %}
    {% if false != page.slideshow and page.map %}
    &nbsp;|&nbsp;    
    {% endif %}
    {% if page.map %}
    <a href="map.html">[ map ]</a>
    {% endif %}
    {% assign items = ''|split:'' %}
    {% for p in site.posts %}
        {% if p.content contains page.gallery %}
            {% assign items = items | push:p %}
        {% endif %}
    {% endfor %}
    {% assign size=items | size %}
    {% if size > 0 %}
    <p>{{ site.mentioned_in }}</p>
    <ul>
        {% for item in items %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="list-gallery">
    {% for photo in page.photos %}
        <span itemprop="image" itemscope itemtype="http://schema.org/Photograph">
            <a href="/{{ site.baseurl }}/{{ photo.url }}" itemprop="url">
                <img alt="Photo: {{ photo.title }}" height="200" src="{{ site.asset_prefix }}/gallery/{{ page.gallery }}/{{ photo.name }}~200x200.jpg" title="{{ photo.title }}" width="200" />
            </a>
        </span>
    {% endfor %}
    </div>    
    </section>
    {% if page.comments != false %}
        {% include disqus.html %}
    {% endif %}
</section>