---
layout: default
---
{% assign url = page.url | split:'/' %}
{% assign gallery = url[2] %}
<section itemscope itemtype="http://schema.org/ImageGallery">
    <header>
        <div class="timeline"></div>
        <h1>
            <span itemprop="name">{{ page.title }}</span>
        </h1>
    </header>
    <section class="post-content">
    {{ content }}
    {% if false != page.slideshow %}
    <a href="slideshow.html">[ slideshow ]</a>
    {% endif %}
    {% if false != page.slideshow and page.map %}
    &nbsp;|&nbsp;    
    {% endif %}
    {% if page.map %}
    <a href="map.html">[ map ]</a>
    {% endif %}
    {% assign items = site.array %}
    {% for p in site.posts %}
        {% if p.content contains gallery %}
            {% assign items = items | push:p %}
        {% endif %}
    {% endfor %}
    {% if items | size > 0 %}
    <p>{{ site.mentioned_in }}</p>
    <ul>
    {% for item in items %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% include gallery-list.html gallery=gallery %}
    </section>
    {% if false != page.comments %}
        {% include disqus.html %}
    {% endif %}
</section>